@use "variables" as var;

.search-box-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%; // Ensures full width
}

.tracker-and-actions {
  display: flex;
  flex-direction: column;
}

.hero-illustration {
  img {
    margin-top: -100px;
    max-width: 320px;
    max-height: 320px;
  }
}
