@use "variables" as var;

.main-content {
  .header-container {
    .nav-buttons {
      display: flex;
      justify-content: space-between;
      padding: 14px 0;
    }

    .breadcrumbs {
      display: flex;
      align-items: center;
      font-size: 12px;

      .breadcrumb-button {
        color: #666;
      }

      mat-icon {
        display: flex;
        align-items: center;
        margin: 0 5px;
        font-size: 12px;
      }
    }

    .scrollable-breadcrumbs {
      display: flex;
      flex-wrap: nowrap; /* Prevent wrapping */
      gap: 8px; /* Optional: add spacing between items */
      overflow-x: auto; /* Allow horizontal scrolling */
      white-space: nowrap; /* Prevent wrapping of individual items */
      -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile devices */
    }

    .scrollable-breadcrumbs::-webkit-scrollbar {
      display: none; /* Hide scrollbar for a cleaner look */
    }
  }
}
