<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<mat-form-field class="full-width" appearance="outline" i18n-appearance>
  <input
    type="text"
    matInput
    placeholder="Search related industries"
    i18n-placeholder
    [formControl]="industryCtrl"
    [matAutocomplete]="autoIndustry"
  />
  <button
    mat-icon-button
    matSuffix
    aria-label="Add industry"
    i18n-aria-label
    (click)="addIndustryFromInput()"
  >
    <mat-icon i18n>add</mat-icon>
  </button>
  <mat-autocomplete
    #autoIndustry="matAutocomplete"
    (optionSelected)="addIndustry($event)"
  >
    <mat-option
      *ngFor="let industry of filteredIndustries | async"
      [value]="industry"
    >
      {{ industry }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
