@use "variables" as var;

.schedule-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px 0;
  box-shadow: none;
  width: 100%; /* Make sure it takes the full width of the container */
  height: 300px;
  text-align: start;

  mat-card-header {
    display: block;
  }

  mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  mat-card-subtitle {
    h5 {
      color: var.$primary-dark-color;
    }
  }

  /* Relative container for FAB positioning */
  .relative-container {
    position: relative;
    //min-height: 200px; /* Optional: ensures enough height for the button placement */
  }

  /* Floating action button positioned absolutely inside the relative container */
  .fab-bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
  }
}

.current-time {
  //border: 2px solid #ff9800; /* Highlight for the current time */
}
