<!-- eslint-disable @angular-eslint/template/button-has-type -->
<div class="more-info-container">
  <!-- Headline -->
  <h5 i18n>Anything Else You’d Like to Share?</h5>

  <!-- Sub-header -->
  <p class="sub-header" i18n>
    Is there something unique about you that we haven’t covered yet? Feel free
    to share anything that might help us personalize your experience even more.
  </p>

  <!-- Form -->
  <form class="more-info-form" [formGroup]="moreInfoForm">
    <!-- Additional Info Textarea -->
    <fieldset>
      <h6 i18n>Tell us what makes you, you!</h6>
      <p class="subtext" i18n>
        Whether it’s your passions, goals, lifestyle, or something quirky about
        yourself—we’d love to know.
      </p>
      <div class="primary-textarea-box">
        <mat-form-field appearance="outline" class="full-width" i18n-appearance>
          <textarea
            matInput
            formControlName="additionalInfo"
            placeholder="Share any extra details about yourself here..."
            rows="6"
            i18n-placeholder
          ></textarea>
        </mat-form-field>
      </div>
    </fieldset>

    <app-custom-day-step-actions
      [primaryLabel]="'Reset'"
      [secondaryLabel]="'Save & Continue'"
      (primaryButton)="resetForm()"
      (secondaryButton)="onSubmit()"
    />
  </form>
</div>
