<!-- eslint-disable @angular-eslint/template/prefer-ngsrc -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
<mat-toolbar class="main-toolbar">
  <!-- Left icon button (e.g., for sidenav toggle) -->

  <!-- Logo navigates to dashboard -->
  <div
    class="logo"
    style="font-weight: 600; cursor: pointer"
    (click)="navigateTo('/dashboard')"
    i18n
  >
    Easify
  </div>
  <span class="spacer"></span>

  <!-- Avatar Circle with Dropdown Menu -->
  <div class="user-profile">
    <ng-container *ngIf="isMobile; else desktopView">
      <!-- Mobile view: Show toggle button -->
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon i18n>menu</mat-icon>
      </button>
    </ng-container>

    <ng-template #desktopView>
      <!-- Desktop view -->
      <ng-container *ngIf="avatarUrl; else showInitials">
        <img
          alt="User Avatar"
          class="avatar-circle"
          i18n-alt
          [matMenuTriggerFor]="profileMenu"
          [src]="avatarUrl"
        />
      </ng-container>

      <!-- Show initials if avatar doesn't exist -->
      <ng-template #showInitials>
        <div class="avatar-circle" [matMenuTriggerFor]="profileMenu">
          <span class="initials">{{ initials }}</span>
        </div>
      </ng-template>
    </ng-template>
  </div>

  <!-- Dropdown menu for profile actions -->
  <mat-menu #profileMenu="matMenu">
    <button i18n mat-menu-item (click)="navigateTo('/profile')">Profile</button>
    <button
      matBadgeColor="primary"
      i18n-matBadgeColor
      matBadgePosition="above after"
      i18n-matBadgePosition
      aria-label="Notifications"
      i18n-aria-label
      mat-menu-item
      [matBadge]="notificationCount"
      i18n
      [matBadgeHidden]="notificationCount === 0"
      (click)="navigateTo('/profile/notifications')"
    >
      Notifications
    </button>
    <button i18n mat-menu-item (click)="logout()">Log Out</button>
  </mat-menu>
</mat-toolbar>
