.main-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%; // Ensures it aligns within the toolbar
}

.logo-image {
  max-width: 180px; // Prevents excessive width
  height: 40px; // Adjust as needed
  max-height: 100%;
  object-fit: contain; // Ensures the image scales properly
}

.spacer {
  flex: 1;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.avatar-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #a8e6cf; /* Primary color (Easify's soft green) */
  width: 40px;
  height: 40px;
}

.initials {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

::ng-deep .profile-menu {
  .mat-mdc-menu-content {
    padding-right: 20px !important;
  }
}
