<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<mat-form-field class="full-width" appearance="outline" i18n-appearance>
  <input
    type="text"
    matInput
    placeholder="Search financial plan tags"
    i18n-placeholder
    [formControl]="categoryCtrl"
    [matAutocomplete]="autoTag"
  />
  <button
    mat-icon-button
    matSuffix
    aria-label="Add tag"
    i18n-aria-label
    (click)="addCategoryFromInput()"
  >
    <mat-icon i18n>add</mat-icon>
  </button>
  <mat-autocomplete
    #autoTag="matAutocomplete"
    (optionSelected)="addCategory($event)"
  >
    <mat-option *ngFor="let tag of filteredCategories | async" [value]="tag">
      {{ tag }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
