@use "variables" as var;

.theme-carousel {
  .slot-details {
    .time-range {
      display: block;
      margin-bottom: 8px;
      color: white;
    }

    h5 {
      text-align: center;
    }
  }

  .nav-button-container {
    background-color: var.$primary-color; /* Primary color for the slot container */
  }

  .activity {
    margin: 0;
    color: white;
  }
}

.schedule-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;

  mat-icon {
    font-size: 18px;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading-rect {
    animation: flash 1.5s infinite ease-in-out;
    margin-bottom: 15px;
    border-radius: 8px; /* Rounded corners */
    background-color: #e0e0e0; /* Lighter grey color */
    width: 100%;
    height: 50px; /* Thicker rectangles */
  }

  .loading-rect:nth-child(1) {
    width: 100%; /* Simulating a larger input like name */
    height: 70px; /* Thicker rectangles */
  }

  .loading-rect:nth-child(2) {
    width: 75%; /* Simulating a medium input */
  }

  .loading-rect:nth-child(3) {
    width: 30%; /* Simulating a full-width input */
  }

  .loading-rect:nth-child(4) {
    width: 50%; /* Simulating a small input */
  }

  .loading-rect:nth-child(5) {
    width: 15%; /* Another large input */
  }

  .loading-rect:nth-child(6) {
    width: 75%; /* Simulating a medium input */
  }

  @keyframes flash {
    0%,
    100% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }
  }
}
