<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- Course Categories Autocomplete Field -->
<div class="primary-search-box">
  <mat-form-field appearance="outline" i18n-appearance class="full-width">
    <input
      matInput
      placeholder="Explore categories (e.g., Travel, Programming, Yoga)"
      i18n-placeholder
      [formControl]="categoryCtrl"
      [matAutocomplete]="autoCategory"
    />
    <button
      class="add-button"
      mat-icon-button
      matSuffix
      aria-label="Add category"
      i18n-aria-label
      (click)="addCategoryFromInput()"
    >
      <mat-icon i18n>add</mat-icon>
    </button>
    <mat-autocomplete
      #autoCategory="matAutocomplete"
      (optionSelected)="addCategory($event)"
    >
      <mat-option
        *ngFor="let category of filteredCategories | async"
        [value]="category"
      >
        {{ category | capitalize }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
