<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<form [formGroup]="lifestyleHealthForm">
  <!-- Headline -->
  <h5 i18n>Lifestyle & Health</h5>

  <!-- Sub-header -->
  <p class="sub-header" i18n>
    Your health and lifestyle details help us deliver personalized tips and
    advice for your wellness journey.
  </p>

  <!-- Physical Skills Section -->
  <fieldset>
    <legend i18n>What are some physical skills you'd like to work on?</legend>
    <!-- Health Autocomplete -->
    <app-workout-tag-autocomplete (tagAdded)="onWorkoutTagAdded($event)" />

    <!-- Added Health Tags as Chips -->
    <div class="chips-container">
      <div class="app-chips-secondary">
        <mat-chip-set>
          <mat-chip
            *ngFor="let tag of addedWorkoutTags"
            [removable]="true"
            (removed)="removeWorkoutTag(tag)"
          >
            {{ tag | capitalize }}
            <mat-icon i18n matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </fieldset>

  <!-- Exercises Section -->
  <fieldset>
    <legend i18n>Which exercises are you into?</legend>
    <!-- Health Autocomplete -->
    <app-workout-category-autocomplete
      (categoryAdded)="onCategoryAdded($event)"
    />

    <!-- Added Exercise Tags as Chips -->
    <div class="chips-container">
      <div class="app-chips-secondary">
        <mat-chip-set>
          <mat-chip
            *ngFor="let tag of addedWorkoutCategories"
            [removable]="true"
            (removed)="removeCategory(tag)"
          >
            {{ tag | capitalize }}
            <mat-icon i18n matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </fieldset>

  <!-- Martial Status Section -->
  <fieldset>
    <legend i18n>What is your martial status?</legend>
    <mat-form-field appearance="outline" class="full-width" i18n-appearance>
      <mat-select
        formControlName="martialStatus"
        placeholder="Select your status"
        i18n-placeholder
      >
        <mat-option value="single" i18n>Single</mat-option>
        <mat-option value="married" i18n>Married</mat-option>
        <mat-option value="in-relationship" i18n>In a relationship</mat-option>
        <mat-option value="looking-for-relationship" i18n>
          Looking for a relationship
        </mat-option>
      </mat-select>
    </mat-form-field>
  </fieldset>

  <!-- Kids Section -->
  <fieldset>
    <legend i18n>
      Please share any details about your family and living situation
    </legend>
    <mat-form-field appearance="outline" class="full-width" i18n-appearance>
      <textarea
        matInput
        formControlName="family"
        placeholder="Family and living situation"
        i18n-placeholder
        rows="3"
      ></textarea>
    </mat-form-field>
  </fieldset>

  <app-custom-day-step-actions
    [primaryLabel]="'Reset'"
    [secondaryLabel]="'Diet & Nutrition'"
    (primaryButton)="resetForm()"
    (secondaryButton)="onSubmit()"
  />
</form>
