<!-- eslint-disable @angular-eslint/template/button-has-type -->

<!-- Headline -->
<h5 i18n>Basic Information</h5>

<!-- Sub-header -->
<p class="sub-header" i18n>
  We need this information to provide you with the best experience. Rest
  assured, your data is safe with us.
</p>

<!-- Form -->
<form [formGroup]="basicInfoForm">
  <!-- Name Input -->
  <fieldset>
    <legend i18n>What is your name?</legend>
    <mat-form-field appearance="outline" class="full-width" i18n-appearance>
      <input
        matInput
        formControlName="name"
        placeholder="Enter your name"
        i18n-placeholder
      />
    </mat-form-field>
  </fieldset>

  <!-- Wake-up Time -->
  <fieldset class="primary-search-box time-display">
    <legend i18n>
      When do you usually
      <b>wake up?</b>
    </legend>
    <mat-form-field appearance="outline" class="full-width" i18n-appearance>
      <input
        matInput
        formControlName="wakeUpTime"
        placeholder="Select wake-up time"
        readonly
        [ngxMatTimepicker]="wakeUpPicker"
        i18n-placeholder
      />
      <ngx-mat-timepicker #wakeUpPicker dottedMinutesInGap />
    </mat-form-field>
  </fieldset>

  <!-- Sleep Time -->
  <fieldset class="primary-search-box time-display">
    <legend i18n>
      When do you usually
      <b>go to sleep?</b>
    </legend>
    <mat-form-field appearance="outline" class="full-width" i18n-appearance>
      <input
        matInput
        formControlName="sleepTime"
        placeholder="Select sleep time"
        readonly
        [ngxMatTimepicker]="sleepTimePicker"
        i18n-placeholder
      />
      <ngx-mat-timepicker #sleepTimePicker dottedMinutesInGap />
    </mat-form-field>
  </fieldset>

  <app-custom-day-step-actions
    [primaryLabel]="'Reset'"
    [secondaryLabel]="'Skills'"
    (primaryButton)="resetForm()"
    (secondaryButton)="onSubmit()"
  />
</form>
