<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<div class="main-with-side padded">
  <div class="main-content">
    <div class="header-container">
      <!-- Breadcrumbs with Navigation -->
      <div class="breadcrumbs scrollable-breadcrumbs">
        <span>
          <button
            mat-button
            class="breadcrumb-button"
            (click)="navigateToBreadcrumb('home')"
          >
            <span i18n>Home</span>
          </button>
        </span>
        <span>
          <button
            mat-button
            class="breadcrumb-button"
            (click)="navigateToBreadcrumb('financeHub')"
          >
            <span i18n>Portfolio Hub</span>
          </button>
        </span>
        <span>
          <button
            mat-button
            class="breadcrumb-button"
            (click)="navigateToBreadcrumb('portfolio')"
          >
            <span>{{ portfolio.name }}</span>
          </button>
        </span>
      </div>
    </div>
    <router-outlet />
  </div>

  <div *ngIf="!isMobile && !isTablet" class="side-content">
    <app-portfolio-nav
      [loading]="loading"
      [portfolio]="route.snapshot.data['portfolio']"
      [startedPortfolio]="startedPortfolio"
    />
  </div>
</div>
