<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- Headline -->
<h5 i18n>Work & Skills</h5>

<!-- Sub-header -->
<p class="sub-header" i18n>
  Your industry and work details help us deliver tailored tips and advice for
  your career growth.
</p>
<form [formGroup]="workSkillsForm">
  <!-- Occupation Field -->
  <fieldset>
    <legend i18n>What is your occupation?</legend>
    <mat-form-field class="full-width" appearance="outline" i18n-appearance>
      <input
        matInput
        formControlName="occupation"
        placeholder="Enter your occupation"
        i18n-placeholder
      />
    </mat-form-field>
  </fieldset>
  <fieldset>
    <!-- Instruction Text for Industries -->
    <legend i18n>
      Related
      <b>industries:</b>
    </legend>
    <!-- Industry Autocomplete -->
    <app-industries-autocomplete (industryAdded)="onIndustryAdded($event)" />

    <!-- Added Industries as Chips -->
    <div class="chips-container">
      <div class="app-chips-secondary">
        <mat-chip-set>
          <mat-chip
            *ngFor="let industry of addedIndustries"
            [removable]="true"
            (removed)="removeIndustry(industry)"
          >
            {{ industry | capitalize }}
            <mat-icon i18n matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <!-- Instruction Text for Industries -->
    <legend i18n>
      What are your
      <b>interests</b>
      ?
    </legend>
    <!-- Industry Autocomplete -->
    <app-course-category-autocomplete
      (categoryAdded)="onCourseTagAdded($event)"
    />

    <div class="chips-container">
      <div class="app-chips-secondary">
        <mat-chip-set>
          <mat-chip
            *ngFor="let course of addedCourseTags"
            [removable]="true"
            (removed)="removeCourseTag(course)"
          >
            {{ course | capitalize }}
            <mat-icon i18n matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </fieldset>

  <!-- Work Status Dropdown -->
  <fieldset>
    <legend i18n>What is your current work status?</legend>
    <mat-form-field class="full-width" appearance="outline" i18n-appearance>
      <mat-select
        formControlName="workStatus"
        placeholder="Select your work status"
        i18n-placeholder
      >
        <mat-option value="full-time" i18n>Full-time employed</mat-option>
        <mat-option value="part-time" i18n>Part-time employed</mat-option>
        <mat-option value="looking-for-work" i18n>Looking for work</mat-option>
      </mat-select>
    </mat-form-field>
  </fieldset>

  <!-- Hybrid Status Dropdown -->
  <fieldset>
    <legend i18n>Do you work remotely, in-office, or hybrid?</legend>
    <mat-form-field class="full-width" appearance="outline" i18n-appearance>
      <mat-select
        formControlName="hybridStatus"
        placeholder="Select your work type"
        i18n-placeholder
      >
        <mat-option value="remote" i18n>Remote</mat-option>
        <mat-option value="in-office" i18n>In-office</mat-option>
        <mat-option value="hybrid" i18n>Hybrid</mat-option>
      </mat-select>
    </mat-form-field>
  </fieldset>

  <app-custom-day-step-actions
    [primaryLabel]="'Reset'"
    [secondaryLabel]="'Health & Lifestyle'"
    (primaryButton)="resetForm()"
    (secondaryButton)="onSubmit()"
  />
</form>
