<!-- eslint-disable @angular-eslint/template/prefer-ngsrc -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/no-negated-async -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<mat-toolbar class="main-toolbar">
  <!-- Left icon button (e.g., for sidenav toggle) -->

  <!-- Logo navigates to dashboard -->
  <div class="logo" (click)="navigateTo('/main/home')" i18n>
    <img
      src="assets/logo/full-grey-logo.png"
      alt="Easify Logo"
      class="logo-image"
      i18n-alt
    />
  </div>
  <div class="toolbar-buttons">
    <button
      i18n
      mat-flat-button
      class="primary-naked-md-button"
      (click)="navigateTo('/main/signup')"
    >
      Log in
    </button>
    <button
      i18n
      mat-flat-button
      class="primary-stroked-md-button"
      (click)="toggleSidebar()"
    >
      How it works
    </button>
    <button
      i18n
      mat-flat-button
      class="primary-full-md-button"
      (click)="toggleSidebar()"
    >
      Get Started
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [mode]="sidenavMode"
    [opened]="!isMobile || (isMobile && !isMinimized)"
    [disableClose]="isTablet || !isMobile"
    [style.padding-top]="'70px'"
  />

  <!-- Main Content Section -->
  <mat-sidenav-content>
    <div>
      <ng-container>
        <router-outlet />
      </ng-container>
      <div class="mini-footer"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
