.portfolio-nav-container {
  .asset-class {
    padding: 10px 0;

    .toggle-icon {
      width: 20px;
      min-width: 20px;
    }

    .asset-class-title {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      cursor: pointer;
      margin: 0;
      font-weight: bold;
    }

    .asset-class-content {
      padding-top: 20px;
      padding-left: 20px;

      .chapter-subtitle {
        margin-bottom: 10px;
      }

      .holdings-list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0;
        padding: 0;
        list-style: none;

        .holding-item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          .holding-text {
            flex: 1;
            text-align: start;
          }
        }
      }
    }
  }
}
