<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<div class="main-with-side">
  <div class="main-content">
    <ng-container *ngIf="!initLoading; else loadingTopicTemplate">
      <div class="topic-header-container">
        <!-- Breadcrumbs with Navigation -->
        <div class="breadcrumbs scrollable-breadcrumbs">
          <span>
            <button
              mat-button
              class="breadcrumb-button"
              (click)="navigateToBreadcrumb('home')"
            >
              <span i18n>Home</span>
            </button>
          </span>
          <span>
            <button
              mat-button
              class="breadcrumb-button"
              (click)="navigateToBreadcrumb('learningHub')"
            >
              <span i18n>Learning Hub</span>
            </button>
          </span>
          <span>
            <button
              mat-button
              class="breadcrumb-button"
              (click)="navigateToBreadcrumb('course')"
            >
              <span>{{ course.name }}</span>
            </button>
          </span>
          <span>
            <button
              mat-button
              class="breadcrumb-button"
              (click)="navigateToBreadcrumb('chapter')"
            >
              <span>{{ chapter.title }}</span>
            </button>
          </span>
          <span class="breadcrumb-button">{{ topic.title }}</span>
        </div>
        <!-- Navigation Buttons for Next and Previous Chapters -->
        <div class="nav-buttons">
          <button mat-button class="action-link" (click)="navigatePrevious()">
            <span i18n>Go back</span>
            <mat-icon i18n>arrow_backward</mat-icon>
          </button>
        </div>
      </div>
      <div class="topic-intro">
        <div class="topic-header">
          <h5 class="topic-count">{{ chapterIndex }}.{{ topicIndex }}.</h5>
          <div>
            <h5 class="topic-title">{{ topic.title }}</h5>
            <h6 class="topic-subtitle">{{ topic.subtitle }}</h6>
          </div>
        </div>

        <p class="topic-overview">{{ topic.overview }}</p>
      </div>

      <div class="theme-carousel">
        <!-- Previous Point Button -->
        <button
          *ngIf="currentIndex > 0 || topic.points.length > 1"
          [ngClass]="
            currentIndex === 0
              ? 'nav-button-container opacity'
              : 'nav-button-container'
          "
          (click)="goToPreviousSlide()"
        >
          <div class="slot-content">
            <div class="top-svg-container">
              <svg width="124" height="32" viewBox="0 0 124 32" fill="none">
                <path
                  d="M124 17.7778C124 30.869 81.5667 32 62 32C42.4333 32 0 30.869 0 17.7778C26.5714 17.7778 33.5762 0 62 0C90.4238 0 97.4286 17.7778 124 17.7778Z"
                  i18n-d
                  fill="#c1e8da"
                />
              </svg>
              <mat-icon i18n class="arrow">keyboard_arrow_up</mat-icon>
            </div>
            <div
              *ngIf="currentIndex > 0; else previousText"
              class="slot-details"
            >
              <h5>
                {{ topic.points[currentIndex - 1]?.title }}
              </h5>
              <span>
                {{ topic.points[currentIndex - 1]?.desc }}
              </span>
            </div>
            <ng-template #previousText>
              <div></div>
            </ng-template>
          </div>
        </button>

        <!-- Carousel for the Schedule -->
        <ngx-slick-carousel
          #slickModal="slick-carousel"
          class="carousel"
          [config]="slideConfig"
        >
          <div
            *ngFor="let item of topic.points; let i = index"
            class="point-content"
            ngxSlickItem
          >
            <h5 class="title">{{ item.title }}</h5>
            <span class="subtitle">{{ item.desc }}</span>
            <p>{{ item.content }}</p>
            <div class="action">
              <caption i18n class="caption">Easify AI</caption>
              <button
                mat-icon-button
                aria-label="Easify AI action"
                i18n-aria-label
              >
                <mat-icon svgIcon="help" i18n />
              </button>
            </div>
          </div>
        </ngx-slick-carousel>

        <!-- Next Point Button -->
        <button
          *ngIf="
            currentIndex < topic.points.length - 1 || topic.points.length > 1
          "
          class="nav-button-container"
          (click)="goToNextSlide()"
        >
          <div class="slot-content">
            <div class="bottom-svg-container">
              <svg width="124" height="32" viewBox="0 0 124 32" fill="none">
                <path
                  d="M124 17.7778C124 30.869 81.5667 32 62 32C42.4333 32 0 30.869 0 17.7778C26.5714 17.7778 33.5762 0 62 0C90.4238 0 97.4286 17.7778 124 17.7778Z"
                  i18n-d
                  fill="#c1e8da"
                />
              </svg>
              <mat-icon i18n class="arrow">keyboard_arrow_up</mat-icon>
            </div>
            <ng-template #nextText>
              <h5 class="opacity" i18n>Next</h5>
            </ng-template>
            <div
              *ngIf="currentIndex < topic.points.length - 1; else nextText"
              class="slot-details"
            >
              <h5>
                {{ topic.points[currentIndex + 1]?.title }}
              </h5>
              <span>
                {{ topic.points[currentIndex + 1]?.desc }}
              </span>
            </div>
          </div>
        </button>
      </div>
    </ng-container>
    <ng-template #loadingTopicTemplate>
      <app-topic-loader />
    </ng-template>
  </div>

  <div *ngIf="!isMobile && !isTablet" class="side-content">
    <app-chapter-nav
      [course]="course"
      [loading]="loading"
      [startedCourse]="startedCourse"
    />
  </div>
</div>
