<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<mat-toolbar color="primary">
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="recipesMenu">
    <mat-icon i18n>favorite</mat-icon>
  </button>
  <mat-menu #recipesMenu="matMenu">
    <button
      i18n
      mat-menu-item
      [routerLink]="['/dashboard/recipe-by-ingredients']"
    >
      Recipes by Ingredients
    </button>
  </mat-menu>
</mat-toolbar>
<div class="recipes-section">
  <h2 i18n>Started Recipes</h2>
  <div *ngIf="startedRecipes$ | async as startedRecipes">
    <div *ngIf="startedRecipes.length > 0; else noStartedRecipes">
      <div class="recipes-grid">
        <app-recipe-tile
          *ngFor="let recipe of startedRecipes"
          class="recipe-card"
          [recipe]="recipe.recipe"
        />
      </div>
    </div>
    <ng-template #noStartedRecipes>
      <p i18n>No started recipes found.</p>
    </ng-template>
  </div>
</div>

<div class="recipes-section">
  <h2 i18n>Recommended Recipes</h2>
  <div *ngIf="isLoadingRecommended">
    <p i18n>Loading recommended recipes...</p>
  </div>
  <div *ngIf="recommendedRecipes$ | async as recommendedRecipes">
    <div *ngIf="!isLoadingRecommended">
      <div *ngIf="recommendedRecipes.length > 0; else noRecommendedRecipes">
        <div class="recipes-grid">
          <app-recipe-tile
            *ngFor="let recipe of recommendedRecipes"
            class="recipe-card"
            [recipe]="recipe"
          />
        </div>
      </div>
      <ng-template #noRecommendedRecipes>
        <p i18n>No recommended recipes found.</p>
      </ng-template>
    </div>
  </div>
</div>

<div class="recipes-section">
  <h2 i18n>All Recipes</h2>
  <!-- Keyword Selection Section -->
  <div class="keyword-selection">
    <mat-form-field appearance="fill" i18n-appearance>
      <mat-label i18n>Select a keyword</mat-label>
      <mat-select (selectionChange)="onKeywordSelected($event.value)">
        <mat-option
          *ngFor="let keyword of allKeywords$ | async"
          [value]="keyword"
        >
          {{ keyword }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <mat-chip
        *ngFor="let keyword of selectedKeywords"
        (removed)="removeKeyword(keyword)"
      >
        {{ keyword }}
        <mat-icon i18n matChipRemove>cancel</mat-icon>
      </mat-chip>
    </div>
  </div>
  <div *ngIf="isLoadingAll">
    <p i18n>Loading all recipes...</p>
  </div>
  <div *ngIf="allRecipes$ | async as allRecipes">
    <div *ngIf="allRecipes.length > 0; else noAllRecipes">
      <div class="recipes-grid">
        <app-recipe-tile
          *ngFor="let recipe of allRecipes"
          class="recipe-card"
          [recipe]="recipe"
        />
      </div>
    </div>
    <ng-template #noAllRecipes>
      <p i18n>No recipes found.</p>
    </ng-template>
  </div>
</div>
