<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->

<div class="all-container padded">
  <div class="grid-section">
    <h2 i18n>All Recipes</h2>

    <!-- Loading state for all recipes -->
    <div *ngIf="isLoadingAll; else allRecipesContent">
      <app-loading-carousel />
    </div>

    <!-- All Recipes Content -->
    <ng-template #allRecipesContent>
      <div *ngIf="allRecipes$ | async as allRecipes">
        <div *ngIf="allRecipes && allRecipes.length > 0; else noAllRecipes">
          <div class="grid">
            <app-recipe-tile
              *ngFor="let recipe of allRecipes"
              class="recipe-card"
              [recipe]="recipe"
            />
          </div>
          <!-- Load More Button -->
          <div class="load-more-button">
            <!-- Loading state for all recipes -->
            <div *ngIf="isLoadingMore; else moreButton">
              <app-loading-carousel />
            </div>
            <ng-template #moreButton>
              <button
                #moreButton
                class="nav-button-container"
                (click)="loadMoreRecipes()"
              >
                <div class="slot-content">
                  <div
                    [ngClass]="
                      lastRecipe ? 'bottom-svg-container' : 'top-svg-container'
                    "
                  >
                    <svg
                      width="124"
                      height="32"
                      viewBox="0 0 124 32"
                      fill="none"
                    >
                      <path
                        d="M124 17.7778C124 30.869 81.5667 32 62 32C42.4333 32 0 30.869 0 17.7778C26.5714 17.7778 33.5762 0 62 0C90.4238 0 97.4286 17.7778 124 17.7778Z"
                        i18n-d
                        fill="#c1e8da"
                      />
                    </svg>
                    <mat-icon i18n class="arrow">keyboard_arrow_up</mat-icon>
                  </div>
                  <h5 i18n>{{ lastRecipe ? "Load More" : "Scroll Top" }}</h5>
                </div>
              </button>
            </ng-template>
          </div>
        </div>
        <ng-template #noAllRecipes>
          <p i18n>No recipes found.</p>
        </ng-template>
      </div>
    </ng-template>
  </div>

  <!-- Filters Section inside mat-expansion-panel -->
  <mat-expansion-panel *ngIf="!isLoadingAll" [expanded]="isPanelOpen">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Filters</mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="filterForm">
      <fieldset class="new-switch">
        <caption i18n class="new-chip">New</caption>
        <mat-slide-toggle formControlName="isNew" color="primary" i18n />
      </fieldset>
      <!-- Level Selection Styled as Icons -->
      <div class="level-selector custom-checkbox-container">
        <mat-checkbox
          class="icon-checkbox"
          [checked]="filterForm.get('levels')?.value.includes('beginner')"
          (change)="onLevelChange('beginner', $event.checked)"
        >
          <mat-icon svgIcon="beginner" />
          <span i18n>Beginner</span>
        </mat-checkbox>

        <mat-checkbox
          class="icon-checkbox"
          [checked]="filterForm.get('levels')?.value.includes('intermediate')"
          (change)="onLevelChange('intermediate', $event.checked)"
        >
          <mat-icon svgIcon="intermediate" />
          <span i18n>Intermediate</span>
        </mat-checkbox>

        <mat-checkbox
          class="icon-checkbox"
          [checked]="filterForm.get('levels')?.value.includes('advanced')"
          (change)="onLevelChange('advanced', $event.checked)"
        >
          <mat-icon svgIcon="advanced" />
          <span i18n>Advanced</span>
        </mat-checkbox>
      </div>

      <fieldset>
        <!-- Category Autocomplete -->
        <app-cuisine-autocomplete (cuisineAdded)="onCategorySelected($event)" />

        <!-- Display Categories in Chip List -->
        <div class="app-chips-secondary">
          <mat-chip-set>
            <mat-chip
              *ngFor="let category of filterForm.get('cuisines')?.value"
              (removed)="removeCategory(category)"
            >
              {{ category | capitalize }}
              <mat-icon i18n matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-set>
        </div>
      </fieldset>
    </form>

    <!-- Buttons to Apply or Reset Filters -->
    <div class="filter-buttons">
      <button
        mat-flat-button
        color="primary"
        class="primary-stroked-md-button"
        (click)="onFilterSubmit()"
        i18n
      >
        Apply
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="primary-full-md-button"
        (click)="resetFilters()"
        i18n
      >
        Reset
      </button>
    </div>
  </mat-expansion-panel>
</div>
