<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/no-interpolation-in-attributes -->
<!-- eslint-disable @angular-eslint/template/prefer-ngsrc -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<div class="stats-container">
  <!-- Workout Image with Blurred Bottom Effect -->
  <div class="item-img-container">
    <img
      *ngIf="workout.image"
      class="item-image"
      [src]="workout.image"
      alt="{{ workout.name }}"
    />
    <div class="img-blur-overlay"></div>
  </div>
  <ng-container *ngIf="!isMobile && !isTablet; else workoutOverview">
    <!-- Title and Subtext -->
    <div class="details">
      <p i18n>
        This workout was crafted by our latest AI model, combining the latest
        fitness insights with effective training techniques. Each session is
        designed to be engaging, challenging, and adaptable to your fitness
        level.
      </p>
    </div>
  </ng-container>
  <ng-template #workoutOverview>
    <!-- Workout Name -->
    <h3>{{ workout?.name }}</h3>

    <!-- Workout Overview -->
    <p>{{ workout?.overview }}</p>
  </ng-template>

  <!-- Start Button -->
  <div class="button-container">
    <button
      mat-flat-button
      class="primary-full-lg-button"
      (click)="initializeOrUpdateProgress()"
      i18n
    >
      Start Workout
    </button>
  </div>

  <!-- Column of 4 rows with icon and text -->
  <div class="stats-rows scrollable-row">
    <span class="stat-row">
      <mat-icon [svgIcon]="workout.level" />
      <p>{{ workout.level | capitalize }}</p>
    </span>
    <span class="stat-row">
      <mat-icon svgIcon="profile-tick" />
      <p i18n>{{ exercisesCount }} exercises</p>
    </span>
    <span class="stat-row">
      <mat-icon svgIcon="alarm" />
      <p i18n>{{ estimatedTime }}</p>
    </span>
  </div>
  <app-suggested-action
    [actions]="[
      {
        title: 'Not sure where to start?',
        subtext: 'Get started with basics',
        buttonText: 'Generate workout plan',
        callback: completeModule,
      },
    ]"
  />
</div>
