<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<div *ngIf="course" class="course-overview-container">
  <div class="breadcrumbs scrollable-breadcrumbs">
    <span>
      <button
        mat-button
        class="breadcrumb-button"
        (click)="navigateToBreadcrumb('home')"
      >
        <span i18n>Home</span>
      </button>
    </span>
    <span>
      <button
        mat-button
        class="breadcrumb-button"
        (click)="navigateToBreadcrumb('learningHub')"
      >
        <span i18n>Learning Hub</span>
      </button>
    </span>

    <span class="breadcrumb-button">{{ course.title }}</span>
  </div>
  <div class="main-with-side">
    <div class="main-content">
      <app-course-intro
        [course]="course"
        [isMobile]="isMobile"
        [isTablet]="isTablet"
        [startedCourse]="startedCourse$ | async"
      />

      <section class="table-of-contents">
        <app-table-of-contents
          [course]="course"
          [startedCourse]="startedCourse$ | async"
        />
      </section>
    </div>
    <div class="side-content">
      <app-course-stats
        [course]="course"
        [isMobile]="isMobile"
        [isTablet]="isTablet"
        [startedCourse]="startedCourse$ | async"
      />
    </div>
  </div>
</div>
<!-- Started Courses Section -->
<div class="courses-section">
  <h5 i18n>Started Courses</h5>

  <!-- Loading state with card skeletons -->
  <div *ngIf="isLoadingRecommendedCourses; else startedCoursesContent">
    <app-loading-carousel />
  </div>

  <!-- Courses content when loading is finished -->
  <ng-template #startedCoursesContent>
    <div *ngIf="recommendedCourses">
      <div *ngIf="recommendedCourses.length">
        <!-- Use the app-courses-carousel component -->
        <app-courses-carousel [courses]="recommendedCourses" />
      </div>
    </div>
  </ng-template>
</div>
