.recipe-detail-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.recipe-image {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.carousel {
  margin-top: 40px;
}

.slide {
  text-align: center;
}

.slide img {
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
