<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<mat-card class="industry-card">
  <mat-card-title>{{ industry.name }}</mat-card-title>
  <mat-card-content>
    <div class="tags">
      <div class="chip-list">
        <mat-chip *ngFor="let tag of industry.tags">{{ tag }}</mat-chip>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button i18n mat-button>Explore Industry</button>
  </mat-card-actions>
</mat-card>
