<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<div class="financial-plans-section">
  <h2 i18n>Started Financial Plans</h2>
  <div *ngIf="startedPlans$ | async as startedFinancialPlans">
    <div *ngIf="startedFinancialPlans.length > 0; else noStartedFinancialPlans">
      <div class="financial-plans-grid">
        <app-financial-plan-tile
          *ngFor="let plan of startedFinancialPlans"
          class="financial-plan-card"
          [financialPlan]="plan.plan"
        />
      </div>
    </div>
    <ng-template #noStartedFinancialPlans>
      <p i18n>No started financial plans found.</p>
    </ng-template>
  </div>
</div>

<div class="financial-plans-section">
  <h2 i18n>Recommended Financial Plans</h2>
  <div *ngIf="isLoadingRecommended">
    <p i18n>Loading recommended financial plans...</p>
  </div>
  <div *ngIf="recommendedPlans$ | async as recommendedFinancialPlans">
    <div *ngIf="!isLoadingRecommended">
      <div
        *ngIf="
          recommendedFinancialPlans.length > 0;
          else noRecommendedFinancialPlans
        "
      >
        <div class="financial-plans-grid">
          <app-financial-plan-tile
            *ngFor="let plan of recommendedFinancialPlans"
            class="financial-plan-card"
            [financialPlan]="plan"
          />
        </div>
      </div>
      <ng-template #noRecommendedFinancialPlans>
        <p i18n>No recommended financial plans found.</p>
      </ng-template>
    </div>
  </div>
</div>

<div class="financial-plans-section">
  <h2 i18n>All Financial Plans</h2>
  <!-- Tag Selection Section -->
  <div class="tag-selection">
    <app-plan-tags-autocomplete (tagAdded)="onTagSelected($event)" />
    <div>
      <mat-chip *ngFor="let tag of selectedTags" (removed)="removeTag(tag)">
        {{ tag }}
        <mat-icon i18n matChipRemove>cancel</mat-icon>
      </mat-chip>
    </div>
  </div>
  <div *ngIf="isLoadingAll">
    <p i18n>Loading financial plans...</p>
  </div>
  <div *ngIf="allPlans$ | async as allFinancialPlans">
    <div *ngIf="allFinancialPlans.data.length > 0; else noAllFinancialPlans">
      <div class="financial-plans-grid">
        <app-financial-plan-tile
          *ngFor="let plan of allFinancialPlans.data"
          class="financial-plan-card"
          [financialPlan]="plan"
        />
      </div>
    </div>
    <ng-template #noAllFinancialPlans>
      <p i18n>No financial plans found.</p>
    </ng-template>
  </div>
</div>
