.error-page {
  padding: 2rem;
  text-align: center;
}

.error-page h1 {
  margin-bottom: 1rem;
  color: #d9534f; /* Error color */
  font-size: 2em;
}

.error-page p {
  margin-bottom: 2rem;
  font-size: 1.2em;
}
