<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<form [formGroup]="financialPlanningForm">
  <!-- Headline -->
  <h5 i18n>Financial Planning</h5>

  <!-- Sub-header -->
  <p class="sub-header" i18n>
    Your financial goals and plans help us provide personalized financial advice
    and strategies.
  </p>
  <fieldset>
    <!-- Instruction Text for Categories -->
    <h6 i18n>
      Which financial tools and instruments would you like to learn more about?
    </h6>

    <!-- Categories Autocomplete -->
    <app-plan-tags-autocomplete (tagAdded)="onPlanTagAdded($event)" />

    <!-- Added Categories as Chips -->
    <div class="chips-container">
      <div class="app-chips-secondary">
        <mat-chip-set>
          <mat-chip
            *ngFor="let tag of addedPlanTags"
            [removable]="true"
            (removed)="removePlanTag(tag)"
          >
            {{ tag | capitalize }}
            <mat-icon i18n matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <!-- Instruction Text for Categories -->
    <h6 i18n>What kind of financial plans are you interested in?</h6>
    <!-- Categories Autocomplete -->
    <app-plan-categories-autocomplete
      (categoryAdded)="onCategoryAdded($event)"
    />

    <!-- Added Categories as Chips -->
    <div class="chips-container">
      <div class="app-chips-secondary">
        <mat-chip-set>
          <mat-chip
            *ngFor="let category of addedCategories"
            [removable]="true"
            (removed)="removeCategory(category)"
          >
            {{ category | capitalize }}
            <mat-icon i18n matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </fieldset>
  <app-custom-day-step-actions
    [primaryLabel]="'Reset'"
    [secondaryLabel]="'More Info'"
    (primaryButton)="resetForm()"
    (secondaryButton)="onSubmit()"
  />
</form>
