<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/prefer-ngsrc -->
<!-- eslint-disable @angular-eslint/template/no-negated-async -->
<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
<!-- eslint-disable @angular-eslint/template/prefer-self-closing-tags -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->

<mat-sidenav-container class="sidenav-container" hasBackdrop="false">
  <mat-sidenav
    #mainSidenav
    class="sidenav"
    [mode]="sidenavMode"
    [opened]="!isMobile || (isMobile && !isMinimized)"
    [disableClose]="isTablet || !isMobile"
    [style.padding-top]="'70px'"
    [style.width]="isMobile ? '100%' : isMinimized ? '70px' : '250px'"
  >
    <!-- Close Icon for Mobile -->
    <div *ngIf="isMobile" class="sidenav-close">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon i18n>close</mat-icon>
      </button>
    </div>
    <button
      *ngIf="!isMobile"
      mat-icon-button
      class="toggle-button"
      (click)="toggleSidebar()"
    >
      <mat-icon>
        {{ !isMinimized ? "chevron_left" : "chevron_right" }}
      </mat-icon>
    </button>
    <mat-nav-list>
      <button mat-button (click)="navigateTo('/dashboard')">
        <mat-icon svgIcon="calendar"></mat-icon>
        <span i18n *ngIf="!isMinimized" class="sidenav-text">
          Daily Overview
        </span>
      </button>
      <button mat-button (click)="navigateTo('/dashboard/courses')">
        <mat-icon svgIcon="book"></mat-icon>
        <span i18n *ngIf="!isMinimized" class="sidenav-text">Learning Hub</span>
      </button>
      <button mat-button (click)="navigateTo('/dashboard/fitness')">
        <mat-icon svgIcon="monitor"></mat-icon>
        <span i18n *ngIf="!isMinimized" class="sidenav-text">
          Health & Fitness
        </span>
      </button>
      <button mat-button (click)="navigateTo('/dashboard/recipes')">
        <mat-icon svgIcon="chef-hat"></mat-icon>
        <span i18n *ngIf="!isMinimized" class="sidenav-text">
          Recipes & Nutrition
        </span>
      </button>
      <button mat-button (click)="navigateTo('/dashboard/financial')">
        <mat-icon svgIcon="coin"></mat-icon>
        <span i18n *ngIf="!isMinimized" class="sidenav-text">
          Financial Planning
        </span>
      </button>
      <button mat-button (click)="navigateTo('/dashboard/personal-growth')">
        <mat-icon svgIcon="growth"></mat-icon>
        <span i18n *ngIf="!isMinimized" class="sidenav-text">
          Personal Growth
        </span>
      </button>
    </mat-nav-list>
    <mat-nav-list *ngIf="isMobile">
      <!-- Navigate to Profile Details -->
      <button mat-button (click)="navigateTo('profile/details')">
        <mat-icon svgIcon="profile-circle"></mat-icon>
        <span *ngIf="!isMinimized" i18n>Profile Details</span>
      </button>

      <!-- Navigate to Security Settings -->
      <button mat-button (click)="navigateTo('profile/security')">
        <mat-icon svgIcon="lock"></mat-icon>
        <span *ngIf="!isMinimized" i18n>Security</span>
      </button>

      <!-- Navigate to Notifications Settings -->
      <button mat-button (click)="navigateTo('profile/notifications')">
        <mat-icon svgIcon="notification"></mat-icon>
        <span *ngIf="!isMinimized" i18n>Notifications</span>
      </button>

      <!-- Navigate to General Settings -->
      <button mat-button (click)="navigateTo('profile/general')">
        <mat-icon svgIcon="setting"></mat-icon>
        <span *ngIf="!isMinimized" i18n>General</span>
      </button>
      <button mat-button (click)="logout()">
        <span *ngIf="!isMinimized" i18n>Logout</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav
    #chat
    class="chat-sidenav"
    position="end"
    i18n-position
    [mode]="'over'"
    [(opened)]="isChatOpen"
  >
    <app-chat [isChatOpen]="isChatOpen" (chatToggled)="toggleChat()"></app-chat>
  </mat-sidenav>

  <!-- Main Content Section -->
  <mat-sidenav-content
    [ngClass]="{
      'expanded-content': !isMinimized && !isTablet && !isMobile,
      'collapsed-content': (!isMobile && isMinimized) || isTablet,
    }"
  >
    <div>
      <app-navbar (toggleSidenav)="toggleSidebar()"></app-navbar>
      <ng-container *ngIf="!(loading$ | async); else loadingTemplate">
        <router-outlet></router-outlet>
      </ng-container>

      <ng-template #loadingTemplate>
        <app-loading></app-loading>
      </ng-template>
      <div class="mini-footer"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="!isChatOpen" class="chat-bubble" (click)="toggleChat()">
  <img
    src="assets/illustrations/chat-circle.svg"
    alt="Chat"
    i18n-alt
    class="chat-bubble-icon"
  />
</div>
