/* stylelint-disable no-descending-specificity */
@use "variables" as var;

.chat-bubble {
  display: flex;
  position: fixed;
  right: 16px;
  bottom: 16px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0 4px 6px rgb(0 0 0 / 20%);
  border-radius: 50%;
  background: var(--primary-color);
  width: 40px;
  height: 40px;

  img.chat-bubble-icon {
    width: 40px;
    height: 40px;
  }
}

.sidenav-container {
  height: 100vh;
  overflow: hidden; /* Allow overflow to show toggle button */
  overscroll-behavior: contain;

  .sidenav {
    transition: width 0.3s ease-in-out;
    overflow: visible; /* Ensure toggle button is visible */
    .sidenav-close {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1000;
    }

    .toggle-button {
      display: flex;
      position: absolute;
      top: 50px; /* Adjust this as needed */
      right: -12px; /* Position over the right edge */
      justify-content: center;
      align-items: center;
      z-index: 1000;
      box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
      border-radius: 50%;
      background-color: white;
      padding: 0;
      width: 24px;
      height: 24px;

      mat-icon {
        width: 14px; /* Set icon width */
        height: 14px; /* Set icon height */
        color: var.$secondary-dark-color;
        font-size: 14px; /* Ensure icon scales properly */
      }
    }

    mat-nav-list {
      display: grid;
      gap: 20px;
      padding: 14px;

      button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-weight: 500; /* Set font weight */
        font-size: 16px; /* Set font size */
        line-height: 20px; /* Set line height */
        text-align: left;

        mat-icon {
          width: 24px; /* Set icon width */
          height: 24px; /* Set icon height */
          font-size: 24px; /* Ensure icon scales properly */
        }
      }
    }
  }

  mat-sidenav-content {
    flex-grow: 1;
    overflow-y: auto; /* Ensure scrolling for the content */
    overscroll-behavior: contain; /* Prevent bounce on desktop as well */

    @media (width <= 768px) {
      padding: 0;
    }
  }

  .mini-footer {
    height: 250px;
  }

  .expanded-content {
    margin-left: 250px !important;
  }

  .collapsed-content {
    margin-left: 80px !important;
  }
}

/* Sticky navbar */
app-navbar {
  position: sticky;
  top: 0;
  z-index: 1001;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%); /* Optional shadow for the sticky navbar */
  width: 100%;
}
