@use "variables" as var;

.industry-stat {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  color: var.$primary-color;

  .stat-icon {
    width: 18px;
    height: 18px;
  }
}

.explore-link {
  display: flex;
  justify-content: end;
  width: 100%;
}
