@use "./theme.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  height: 100%;
}

.hidden-stepper-headers {
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }
}
