<div class="search-box-container primary-search-box">
  <mat-form-field appearance="outline" i18n-appearance>
    <mat-icon
      i18n
      matPrefix
      class="search-icon"
      (click)="onSearchKeyword(searchInput.value)"
    >
      search
    </mat-icon>
    <input
      #searchInput
      matInput
      placeholder="Explore The Learning Hub"
      aria-label="Explore The Learning Hub"
      i18n-aria-label
      i18n-placeholder
      (keydown.enter)="onSearchKeyword(searchInput.value)"
    />
  </mat-form-field>
</div>
