<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<form [formGroup]="dietNutritionForm">
  <!-- Headline -->
  <h5 i18n>Diet & Nutrition</h5>

  <!-- Sub-header -->
  <p class="sub-header" i18n>
    Your diet and nutrition choices help us deliver personalized tips and advice
    to support your health goals.
  </p>

  <!-- Cuisines Section -->
  <fieldset>
    <legend i18n>Choose Cuisines</legend>
    <!-- Nutrition Autocomplete -->
    <app-cuisine-autocomplete (cuisineAdded)="onCategoryAdded($event)" />

    <!-- Added Nutrition Tags as Chips -->
    <div class="chips-container">
      <div class="app-chips-secondary">
        <mat-chip-set>
          <mat-chip
            *ngFor="let tag of addedNutritionCategories"
            [removable]="true"
            (removed)="removeCategory(tag)"
          >
            {{ tag | capitalize }}
            <mat-icon i18n matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </fieldset>

  <!-- Favorite Foods Section -->
  <fieldset>
    <legend i18n>Favorite Foods</legend>
    <!-- Nutrition Autocomplete -->
    <app-recipe-tag-autocomplete (tagAdded)="onRecipeTagAdded($event)" />

    <!-- Added Nutrition Tags as Chips -->
    <div class="chips-container">
      <div class="app-chips-secondary">
        <mat-chip-set>
          <mat-chip
            *ngFor="let tag of addedRecipeTags"
            [removable]="true"
            (removed)="removeRecipeTag(tag)"
          >
            {{ tag | capitalize }}
            <mat-icon i18n matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </fieldset>

  <app-custom-day-step-actions
    [primaryLabel]="'Reset'"
    [secondaryLabel]="'Financial Planning'"
    (primaryButton)="resetForm()"
    (secondaryButton)="onSubmit()"
  />
</form>
