@use "variables" as var;

.tracker-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  box-shadow: none;
}

.tracker-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (width <= 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 80px;
  height: 80px;

  @media screen and (width <= 600px) {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

.circle-background {
  position: absolute; /* Ensure the background stays at the back */
  z-index: 1; /* Background should be behind the badge */
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.badge-image {
  position: absolute;
  z-index: 2; /* Ensure the badge is on top of the ellipsis */
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.text-container {
  flex-grow: 1;
  margin-right: 8px;
  overflow: hidden;

  @media screen and (width <= 600px) {
    margin-right: 0;
    text-align: start;
  }
}

.header {
  margin: 0;
  font-weight: 600;
}

.subtext {
  display: -webkit-box;
  margin: 4px 0 0;
  overflow: hidden;
  color: #757575;
  line-height: 1.2;
  text-align: start;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.arrow-container {
  display: flex;
  justify-content: flex-end;
  min-width: 32px;

  @media screen and (width <= 900px) {
    justify-content: flex-start;
    margin-top: 12px;
    width: 100%;
  }
}

.arrow-button {
  border-radius: 50%;
  background-color: #f5f5f5;
  padding: 4px;
  min-width: 32px;
  min-height: 32px;

  mat-icon {
    color: #333;
    font-size: 20px;
  }
}

.mat-progress-bar {
  margin-top: 8px;
}
