<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<div *ngIf="chapter">
  <div class="main-with-side">
    <div class="main-content">
      <!-- Breadcrumbs and Chapter Info -->
      <div class="chapter-header-container">
        <!-- Breadcrumbs with Navigation -->
        <div class="breadcrumbs scrollable-row">
          <span>
            <button
              mat-button
              class="breadcrumb-button"
              (click)="navigateToBreadcrumb('home')"
            >
              <span i18n>Home</span>
            </button>
          </span>
          <span>
            <button
              mat-button
              class="breadcrumb-button"
              (click)="navigateToBreadcrumb('learningHub')"
            >
              <span i18n>Learning Hub</span>
            </button>
          </span>
          <span>
            <button
              mat-button
              class="breadcrumb-button"
              (click)="navigateToBreadcrumb('course')"
            >
              <span>{{ course.name }}</span>
            </button>
          </span>
          <span class="breadcrumb-button">{{ chapter.title }}</span>
        </div>
        <!-- Navigation Buttons for Next and Previous Chapters -->
        <div class="chapter-nav-buttons">
          <button
            *ngIf="chapterIndex > 1"
            mat-button
            class="action-link"
            (click)="navigateToPreviousChapter()"
          >
            <span i18n>Previous Chapter</span>
            <mat-icon i18n>arrow_backward</mat-icon>
          </button>
          <button
            *ngIf="chapterIndex < course.chapters.length"
            mat-button
            class="action-link"
            (click)="navigateToNextChapter()"
          >
            <span i18n>Next Chapter</span>
            <mat-icon iconPositionEnd i18n>arrow_forward</mat-icon>
          </button>
        </div>

        <!-- Chapter Title and Subtitle -->
        <h5 i18n>Chapter {{ chapterIndex }}</h5>
        <h5>{{ chapter.title }}</h5>
        <h6>{{ chapter.subtitle }}</h6>

        <!-- Chapter Overview -->
        <p class="chapter-overview">{{ chapter.overview }}</p>
        <button
          mat-flat-button
          i18n
          class="primary-full-md-button"
          (click)="navigateToInProgressTopic()"
        >
          Keep learning
        </button>
      </div>
      <app-chapter-table-of-content
        [chapter]="chapter"
        [startedCourse]="startedCourse$ | async"
        [loading]="loading"
      />
    </div>
    <div *ngIf="!isMobile && !isTablet" class="side-content">
      <app-chapter-nav
        [course]="course"
        [loading]="loading"
        [startedCourse]="startedCourse$ | async"
      />
    </div>
  </div>
</div>
