<!-- eslint-disable @angular-eslint/template/conditional-complexity -->
<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<div
  *ngIf="dailySchedule$ | async as dailySchedule; else noSchedule"
  class="daily-schedule"
>
  <mat-card class="schedule-header">
    <mat-card-title>
      {{ day }},
      {{ date }}
    </mat-card-title>
  </mat-card>
  <!-- Previous Time Slot Container -->
  <div *ngIf="currentIndex > 0" class="previous-slot-container">
    <mat-card class="previous-slot-card" (click)="goToPreviousSlide()">
      <mat-card-title>
        {{ dailySchedule[currentIndex - 1]?.time_range }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ dailySchedule[currentIndex - 1]?.activity }}
      </mat-card-subtitle>
    </mat-card>
  </div>
  <ngx-slick-carousel
    #slickModal="slick-carousel"
    class="carousel"
    [config]="slideConfig"
  >
    <app-timeslot
      *ngFor="let item of dailySchedule; let i = index"
      ngxSlickItem
      [item]="item"
      [itemIndex]="i"
      [currentIndex]="currentIndex"
    />
  </ngx-slick-carousel>
  <!-- Next Time Slot Container -->
  <div
    *ngIf="currentIndex < dailySchedule.length - 1"
    class="next-slot-container"
  >
    <mat-card class="next-slot-card" (click)="goToNextSlide()">
      <mat-card-title>
        {{ dailySchedule[currentIndex + 1]?.time_range }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ dailySchedule[currentIndex + 1]?.activity }}
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>

<ng-template #noSchedule>
  <!-- Optional: Content to show if there is no schedule -->
  <p i18n>No schedule available.</p>
</ng-template>
