.daily-schedule {
  .schedule-header {
    margin-bottom: 20px;
    text-align: center;
  }

  .carousel {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
  }

  .slick-list {
    margin: 0;
    padding: 0;
  }

  .slick-track {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between items */
  }
}
