/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.grid-container {
  display: grid;
  grid-template-rows: auto auto auto 1fr; /* Adjust rows to content height */
  grid-template-columns: repeat(3, 1fr) 1fr; /* 3 columns for schedule + 1 column for right */
  grid-template-areas:
    "schedule schedule schedule tracker"
    "schedule schedule schedule actions"
    "schedule schedule schedule actions"
    "recent recent recent tips";
  gap: 16px; /* Adjust gap between grid items */
  padding: 16px;
}

/* Assign grid areas */
.schedule-container {
  grid-area: schedule;
}

.recent-items {
  grid-area: recent;
}

.tracker {
  grid-area: tracker;
}

.actions {
  grid-area: actions;
}

.tips {
  grid-area: tips;
}

@media (width <= 768px) {
  .grid-container {
    grid-template-rows: auto; /* Let rows adjust to content height */
    grid-template-columns: 1fr; /* Stack items in single column */
    grid-template-areas:
      "schedule"
      "tracker"
      "actions"
      "tips"
      "recent";
  }
}
