form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .day-and-type {
    display: flex;
    align-items: center;
    // Add responsiveness for small screens
    @media (width <= 600px) {
      flex-direction: column; // Adjust max-width as needed
      gap: 20px; // Add spacing between buttons in column layout
    }

    mat-form-field {
      max-width: 180px;
      height: 60px;

      mat-select {
        padding-left: 20px;
        font-size: 20px !important;
      }

      ::ng-deep .mat-mdc-select-arrow-wrapper {
        display: none;
      }
    }
  }

  .textarea {
    width: 100%;
  }

  .special-day-switch {
    display: flex;
    align-items: center;

    .fixed-width-text {
      width: 150px; /* Adjust as needed to fit the longest text */
      text-align: center; /* Center-aligns the text within the fixed width */
    }
  }

  .time-display {
    flex-direction: column;

    mat-form-field {
      max-width: 130px;
      font-size: 20px !important;
    }
  }

  .subtext {
    padding-bottom: 16px;
    color: grey;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    width: 100% !important;
  }
}
